div.scrollmenu {
    width: 90em;
    white-space: nowrap;
    overflow: scroll;   
    padding-left: 3vw;   
    margin-left: 2vw; 
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

div.scrollmenu div {
    display: inline-block;
}

#showProfiles{
    color: white;
    text-align: center;
    padding-right: 3vw;
    text-decoration: none;
}

img {
    /* vertical-align: middle; */
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

#eyeImage{
    width: 1vw;
    height: 1vw;
    margin-left: 0.7vw;
    padding-bottom: 0.2vw;
}

.profileName{

    text-align: center;
    position: fixed;   
    width: auto;
    left: 0%;
    right: 0%;
    font-size: 2vw;
    margin-left: 1vw;
}

#showGroups{
    color: white;
    text-align: center;
    padding-right: 3vw;
    text-decoration: none;
}

.groupName{
    
}

.groupColumn{
}