<div>
    <strong id="mainHeading">B i l l &nbsp;&nbsp;&nbsp; S p l i t t e r</strong>
    <div class="left">
        <div id="profiles">
            <router-outlet name="profiles"></router-outlet>
        </div>
        <div id="journal">
            <router-outlet name="journal"></router-outlet>
            hi2
        </div>
    </div>
    <div class="right">
        <div id="addition">
            <router-outlet name="addition"></router-outlet>
            hi3
        </div>
    </div>
</div>